- config = UniversalCrm::Config.find_by_scope(universal_scope)
= react_component 'CRM', customerId: params[:customer_id], ticketId: params[:ticket_id], crm_title: "Universal CRM", username: universal_user.name, config: config.to_json