:javascript
  $( "##{table_body_id}" ).sortable({
      axis: 'y',
      update: function (event, ui) {
          var data = $(this).sortable('serialize');
          // POST to server using $.post or $.ajax
          $.ajax({
              data: data,
              type: 'POST',
              url: '#{sortable_url}'
          });
      }
  });